@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700");
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: 'Rajdhani';
  background-image: url("https://images.unsplash.com/photo-1485148470689-9e57a229c0f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=826&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

.open {
  height: 56px;
  width: 75vw;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin: 75px auto;
  display: block;
}
.open:focus {
  border-radius: 12px;
}

#phone {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  border: 1px solid #eaeaea;
  position: relative;
}

.select-wrap {
  position: absolute;
  z-index: 800;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.select-wrap .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.select-wrap .select-menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  z-index: 850;
  padding-bottom: env(safe-area-inset-top);
}
.select-wrap .select-menu .select-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 14px 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16.57px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
}
.select-wrap .select-menu .select-head .dismiss {
  -webkit-appearance: none;
  border: none;
  background: none;
  color: #f73512;
  text-transform: uppercase;
  font-size: 12px;
}
.select-wrap .select-menu .select-options {
  padding-left: 24px;
}
.select-wrap .select-menu .select-options .option {
  cursor: pointer;
  display: flex;
  height: 56px;
  padding-right: 16px;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0 -1px 0 0 rgba(227, 231, 232, 0.5);
}
.select-wrap .select-menu .select-options .option .detail {
  display: flex;
  align-items: center;
}
.select-wrap .select-menu .select-options .option .amount {
  color: rgba(0, 0, 0, 0.87);
  font-size: 18.57px;
  font-weight: bold;
  letter-spacing: 0.17px;
  line-height: 24px;
  margin-right: 8px;
}
.select-wrap .select-menu .select-options .option .price {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16.57px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 28px;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-enter-active {
  transition: all .34s ease;
}

.slide-leave-active {
  transition: all 0.23s cubic-bezier(1, 0.5, 0.8, 1);
  -webkit-transform: translate3D(0, 100%, 0);
          transform: translate3D(0, 100%, 0);
}

.slide-enter, .slide-fade-leave-to
 {
  -webkit-transform: translate3D(0, 100%, 0);
          transform: translate3D(0, 100%, 0);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .27s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
